{% extends "base.html.twig" %}
{% block title %}Startpage{% endblock %}
{% block javascript %}
    <script src="{{ asset('/js/links.js') }}" type="text/javascript"></script>
{% endblock %}
{% block body %}
    <h1>Admin console</h1>
    <div id="toc_container">
        <h2 class="toc_title">Contents</h2>
        <ul class="toc_list">
            {% for key, table in data %}
                <li><a href="#{{table["tablename"]}}">{{table["tablename"]}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
    {% for key, table in data %}
        <h3 id={{table["tablename"]}}>{{table["tablename"]}}</h3>
        <table>
            <thead>
                {% for key, columnTitle in table["columnTitle"] %}
                    <th>{{ columnTitle }}</th>
                {% endfor %}
            </thead>
            {% for key, rowData in table["rowData"] %}
                <tr class="clickable" onClick="openPage('/profile/' + '{{rowData[1]}}')">
                {% for key2, cellValue in rowData %}
                    <th>{{ cellValue }}</th>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>   
    {% endfor %}    
    </div>
{% endblock %}

